.services{
    align-items: flex-start;
    align-content: flex-start;
}
.service-container:first-child .service-img{
    padding: 1.7rem 0;
}
.service-container{
    align-self: stretch;
    overflow: hidden;
}
.service{
    width: 20rem;
}
.service-img{
    width: 100%;
}
.service-content{
    line-height: 1.5rem;
}

/* DevelopmentPage */
.development{
    border: solid var(--color-secondary) 2px;
    overflow: hidden;
}
.stages{
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}
.stage{
    width: 100%;
    padding: 1rem 1.5rem;
    box-shadow: 1px 1px 5px gray;
}

@media screen and (max-width: 1280px) {
    .stages {
        grid-template-columns: repeat(2, 1fr);
    }
    .services {
        flex-direction: column;
    }
    .service {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .service-info {
        padding-left: 2rem;
    }
    .hide-content {
        display: block;
    }
    .show-content {
        display: none;
    }
    .service-img {
        width: 20rem;
    }
}
@media screen and (max-width: 600px) {
    .stages {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .service{
        flex-direction: column;
    }
    .stage{
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .service{
        padding-left: 0;
    }
    .stages {
        grid-template-columns: auto;
    }
    .service-img{
        display: block;
        width: 80%;
    }
}