.cards{
    justify-content: space-evenly;
}
.card{
    width: 18rem;
    overflow: hidden;
}
.card-img{
    width: 100%;
}
.card-description{
    color: var(--color-black);
    overflow: hidden;
    width: 100%;
}
@media screen and (max-width: 425px) {
    .card{
        width: 85%;
    }
}