.about{
    margin-top: 3rem;
    grid-template-areas: 'content content content space space';
    grid-auto-columns: 1fr;
    background-image: url('../../assets/images/bg.jpg');
    background-position: right bottom;
    background-size: cover;
}
.about-content{
    grid-area: content;
    padding-top: 2rem;
    padding-bottom: 2rem;
    clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
    line-height: 1.5rem;
    font-size: 1.1rem;
}
.about-description{
    padding-right: 1.5rem;
}
.follow-link{
    font-size: 1.5rem;
}
.background-space{
    grid-area: space;
}

@media screen and (max-width: 900px) {
    .about-content{
        clip-path: none;
        width: 100vw;
    }
    .about-description{
        padding-right: 0;
    }
}