.home{
    grid-template-columns: repeat(2,1fr);
    padding-top: 10rem;
    padding-bottom: 8rem;
}
.home-img{
    width: 50%;
}
.page-header{
    font-size: 2.5rem;
}
.page-content{
    margin: 2rem 0 1rem;
    font-size: 1.1rem;
}
.page-actions{
    margin-top: 2rem;
}
@media screen and (max-width: 900px) {
    .home{
        grid-template-columns: auto;
    }
    .home-img{
        display: none;
    }
    .page-actions{
        margin-top: 3rem;
    }
}
@media screen and (max-width: 500px) {
    .home {
        padding: 0 1rem;
        padding-top: 5rem;
        text-align: left;
    }
    .home .page-content {
        width: 100%;
    }
    .home .page-actions .btn {
        text-align: center;
        width: 100%;
        margin: 1rem 0 0;
    }
    .page-header {
        font-size: 2rem;
    }
}