.home{
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
@media screen and (max-width: 500px) {
    .home{
        height: 100vh;
    }
    .home .page-content{
        width: 100%;
    }
    .home .btn-action{
        width: 100%;
        margin: 1rem 0 0;
    }
}
.page-header{
    font-size: 3rem;
}
.page-content{
    margin: 2rem 0;
    width: 30rem;
}
.btn-action{
    margin: 3rem 1rem 1rem;
    padding: 1.2rem 2.5rem;
    background-color: var(--color-black);
    outline: none;
    border:none;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
}