.home{
    grid-template-areas: 'content image';
    padding-bottom: 8rem;
}
.page-header{
    font-size: 2rem;
}
.home-content{
    grid-area: content;
    padding-top: 8rem;
}
.home-img{
    grid-area: image;
}
.page-content{
    margin: 2rem 0 1rem;
    font-size: 1.1rem;
}
.page-actions{
    margin-top: 2rem;
}
@media screen and (max-width: 900px) {
    .home{
        padding-top: 7rem;
    }
    .home-content{
        padding-top: 2rem;
    }
    .home-img {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .home {
        grid-template-areas: 'image' 'content';
        padding: 0 1rem;
        text-align: center;
    }
    .home-content {
        width: 100%;
        padding-top: 0;
    }
    .home-img{
        margin: auto;
        width: 50%;
    }
    .home .page-actions {
        justify-content: center;
    }
    .page-header {
        font-size: 2rem;
    }
}
@media screen and (max-width: 500px) {
    .home-img{
        width: 100%;
    }
    .home .page-actions .btn {
        text-align: center;
        width: 100%;
        margin: 1rem 0 0;
    }
}