.contact{
    grid-template-areas: 'header header' 'info info' 'form map';
    grid-auto-columns: 1fr;
}
/* header */
.header{
    grid-area: header;
}

/* content info */
.info{
    grid-area: info;
}
.info-content {
    padding: 1.2rem 0;
}

.info-content-header {
    padding-bottom: 0.5rem;
}

.icon {
    font-size: 1.4rem;
    position: absolute;
}

.icon-header {
    font-size: 1.1rem;
}

/* content form */
.form{
    grid-area: form;
    border: solid #c7c5c5 1px;
    border-right: none;
    padding: 2rem;
}
.form-header{
    font-size: 1.3rem;
}
.form-label{
    font-size: 1rem;
}
.form-input{
    width: 100%;
    margin: 0.5rem 0 1rem;
    padding: 0.8rem;
    border: solid #b5b5b5 1px;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem;
}
.form-input:focus{
    border: solid #4b4b4b 1px;
}
.area-input{
    resize: none;
}
.btn-submit{
    padding: 0.7rem 2rem;
    width: 100%;
    border: none;
    background-color: var(--color-black);
    border-radius: 5px;
    color: var(--color-white);
    font-size: 1rem;
}

/* google map */
.map{
    grid-area: map;
    overflow: hidden;
}

@media screen and (max-width:900px) {
    .contact{
        padding: 2rem 0 0;
        grid-template-areas: 'header header' 'info form' 'map map';
    }
    .info{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        padding-left: 2rem;
    }
    .form{
        margin: 0 1rem 1rem;
        padding: 1rem;
        border: none;
    }
    .map{
        height: 30rem;
    }
    .map-frame{
        height: 132%;
    }
}
@media screen and (max-width: 700px) {
    .contact {
        grid-template-areas: 'header' 'info' 'form' 'map';
    }
}