@font-face {
    font-family: abeezee;
    src: url('./assets/fonts/ABeeZee/ABeeZee-Regular.ttf');
}

:root{
    --color-black: #000;
    --color-white: #fff;
    --transition: all ease 0.3s;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'abeezee';
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    font-weight: bold;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
.d-grid{
    display: grid;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.d-inline{
    display: inline-block;
}
.d-block{
    display: block;
}
.d-none{
    display: none;
}
.container{
    padding: 2rem 4rem;
}
.dark-container{
    background-color: var(--color-black);
    color: var(--color-white);
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.pl-2 {
    padding-left: 2rem;
}
.mb-1{
    margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
    .container{
        padding: 1rem;
    }
}