@font-face {
    font-family: abeezee;
    src: url('./assets/fonts/ABeeZee/ABeeZee-Regular.ttf');
}

:root{
    --color-black: #000;
    --color-white: #dedede;
    --transition: all ease 0.3s;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'abeezee';
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    font-weight: bold;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-black);
}
button{
    cursor: pointer;
}
.d-grid{
    display: grid;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.d-inline{
    display: inline-block;
}
.d-block{
    display: block;
}
.d-none{
    display: none;
}
.container{
    padding: 3rem 5rem 1rem;
}
.dark-container{
    background-color: var(--color-black);
    color: var(--color-white);
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.pt-1{
    padding-top: 1rem;
}
.pl-1{
    padding-left: 1rem;
}
.pr-1{
    padding-right: 1rem;
}
.pl-2 {
    padding-left: 2rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mt-1{
    margin-top: 1rem;
}
.ml-1{
    margin-left: 1rem;
}
.mr-1{
    margin-right: 1rem;
}

@media screen and (max-width: 800px) {
    .container{
        padding: 1rem;
    }
}